<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-auto mb-4">
        <h4>Produto</h4>
        <ul class="navbar-nav">
          <li><a href="pages/premium.html">Premium</a></li>
          <li><a href="pages/player.html">Player</a></li>
          <li><a href="pages/artistas.html">Artistas</a></li>
          <li><a href="pages/novidades.html">Novidades</a></li>
        </ul>
      </div>
      <div class="col-lg-auto mb-4">
        <h4>Empresa</h4>
        <ul class="navbar-nav">
          <li><a href="pages/sobre.html">Sobre</a></li>
          <li><a href="pages/empregos.html">Empregos</a></li>
          <li><a href="pages/imprensa.html">Imprensa</a></li>
          <li><a href="pages/marcas.html">Marcas</a></li>
        </ul>
      </div>
      <div class="col-lg-auto mb-4">
        <h4>Suporte</h4>
        <ul class="navbar-nav">
          <li><a href="pages/ajuda.html">Ajuda</a></li>
          <li><a href="pages/suporte.html">Suporte</a></li>
          <li><a href="pages/desenvolvedores.html">Dev</a></li>
        </ul>
      </div>
      <div class="col-lg-auto mb-4">
        <h4>Tecnologias</h4>
        <ul id="media">
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg"></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg"></li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg"></li>
        </ul>
      </div>
      <div class="col-lg-auto mb-4">
        <h4>Projeto por</h4>
        <a href="https://github.com/Domisnnet/" target="_blank">DomisDev</a>
      </div>
      <div class="col-lg-auto mb-4 ms-lg-auto">
        <h4>Contato</h4>
        <a href="mailto:dominique.goncalves61@gmail.com">Email</a>
      </div>
    </div>
    <div class="footer-bottom mt-4 pt-4 border-top d-flex justify-content-between">
      <a href="pages/privacidade-termos.html">Privacidade & Termos</a>
      <p>&copy; 2025 KingDomfy</p>
    </div>
  </div>
</footer>