<header>
  <nav class="navbar navbar-expand-md navbar-dark top navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img
          src="../imagens/King-Domfy-logo.png"
          alt="KingDomfy"
          width="100"
        >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#nav-principal"
        aria-controls="nav-principal"
        aria-expanded="false"
        aria-label="Abrir menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="pages/premium.html">Premium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ajuda.html">Ajuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/baixar.html">Baixar</a>
          </li>
          <li class="nav-item divisor"></li>
          <li class="nav-item">
            <a class="nav-link" href="pages/inscrever-se.html">Inscrever-se</a>
          </li>
          <li class="nav-item btn-custom">
            <a class="nav-link" href="pages/entrar.html">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>